# Porta da API
PORT=3002

# URL de conexão com o PostgreSQL
DATABASE_URL="postgresql://postgres:sua_senha_aqui@localhost:5434/your_finances_db?schema=public"

# Segredo para assinatura dos tokens JWT
JWT_SECRET="sua_chave_secreta_jwt_aqui"
