@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme{
    --animate-slideLeft: slideLeft 1.5s ease-in-out forwards;
    @keyframes slideLeft{
        from{
            transform: translateX(30px);
            opacity: 0;
        }
        to{
            transform: translateX(0);
            opacity: 1;
        }
    }
}

@theme{
    --animate-slideUp: slideUp 1.5s ease-in-out;
    @keyframes slideUp{
        0%{
            transform: translateY(20px); opacity: 0
        }
        100%{
            transform: translateY(0); opacity: 1
        }
    }
}

html,
body {
    height: 100%;
    margin: 0;
    /* Remove margens padrão */
}

#root {
    height: 100%;
}