@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme{
    --animate-slideLeft: slideLeft 1s ease-in-out;
    @keyframes slideLeft{
        from{
            transform: translateX(30px);
            opacity: 0;
        }
        to{
            transform: translateX(0);
            opacity: 1;
        }
    }
}